nav {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

/* Add more styles as needed */
.postGrid {
  display: grid;
  gridTemplateColumns: 1fr;
  gap: 10px;
  justify-items: center; /* This centers the content horizontally */
}
